body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.info {
  text-align: center;
  margin: 40px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  max-width: 400px;
  /* margin: 0 auto; */
  grid-gap: 3px;
}

.square {
  border: 1px solid #000;
  height: 40px;
  width: 40px;
}

.square p {
  margin: 0;
  padding: 10px;
  text-align: center;
}
